/* Add your CSS styles here */
/* Styles for login page */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
}

.login-container h1 {
    text-align: center;
    background-color: bisque;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

body{
    background-image: url("siu_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



